import java.util.Scanner;

public class Test {
	public static void main (String args[]) {
		Scanner scnr = new Scanner(System.in);
		String userWord;
		int i ;
		boolean palindrome;
		
		userWord = scnr.next();
		userWord = userWord.toLowerCase();
		
		palindrome = true;
		for (i = 0; i < userWord.length(); ++i) {
			if (userWord.charAt(i) != userWord.charAt(userWord.length() - 1 -i)) {
				palindrome = false;
				break;
			}
			
		}
		
		if (palindrome) {
			System.out.println(userWord + " is a palindrome.");
		}
		
		else {
			System.out.println(userWord + " is not a palindrome.");
		}
		
	}
}
